fastapi==0.108.0
uvicorn==0.25.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
psycopg2==2.9.9
alembic==1.13.1
SQLAlchemy==2.0.23
pydantic[email]==2.6.4
python-dotenv==1.0.0
python-multipart==0.0.9